PORT=8080
HOST=0.0.0.0
CORS_ORIGIN=*
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>/<database>?retryWrites=true&w=majority
PYTHON_BIN=python
AI_MODEL_DIR=../DURIAN_RIPENESS_CLASSIFICATION
PREDICTION_THRESHOLD=0.55

# AWS S3 Storage for audio files (Optional, will skip if not provided)
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_REGION=ap-southeast-1
AWS_S3_BUCKET=your_durly_s3_bucket_name
